[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework-datadriver = "*"
robotframework-seleniumlibrary = "*"
requests = "*"
jsonpath = "*"
chromedriver-autoinstaller = "*"
pypiwin32 = "*"
ups = "*"
appium-python-client = "*"
py4j = "*"

[dev-packages]

[requires]
python_version = "3.10"
